{{#> layout-public }}
  {{#* inline "head" }}
    <title>Failed - BPM</title>
  {{/ inline }}

  {{#* inline "content" }}
    <div class="position-middle">
      <div>
        <fieldset>
          <h1>Failed</h1>
          <small>{{ this }}</small>
        </fieldset>
      </div>
    </div>
  {{/ inline }}
{{/ layout-public }}