<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/_bpm/resource/css/layout.css">
    <link rel="stylesheet" href="/_bpm/resource/css/layout-positioning.css">
    <link rel="stylesheet" href="/_bpm/resource/css/layout-form.css">
    <link rel="stylesheet" href="/_bpm/resource/css/layout-font.css">
    
    {{#> head }}
      <title>BPM</title>
    {{/ head }}
  </head>

  <body>
    {{#> nav }}
      <!-- no public navigation -->
    {{/ nav }}

    <main>
      {{#> content }}
        No content defined...
      {{/ content }}
    </main>

    {{#> footer }}
    {{/ footer }}
  </body>
</html>