{{#> layout-public }}
  {{#* inline "nav" }}
    <nav>
      <ul>
        <li><a href="/_bpm">BPM</a></li>
        <li>·</li>
        <li><a href="/_bpm/team">Team</a></li>
        <li><a href="/_bpm/profile">Profile</a></li>
        <li>·</li>
        <li><a href="/_bpm/settings">Settings</a></li>
      </ul>
    </nav>
  {{/ inline }}
{{/ layout-public }}
