{{#> layout-private }}
  {{#* inline "head" }}
    <title>Profile - BPM</title>

    <!-- icons styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  {{/ inline }}

  {{#* inline "content" }}
    <div>
      <div class="position-middle">
        <div>
          <fieldset>
            <h1>Profile</h1>
            <small>User options</small>

            <div class="list-container">
              <div class="list-item">
                <a href="/_bpm/logout">Logout <span class="material-symbols-outlined">logout</span></a>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  {{/ inline }}
{{/ layout-private }}